# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Secrets
.env
.env.*
!.env.example

# ML model
*.joblib

# Node
node_modules/
frontend/dist/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.log
